@keyframes toast-slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.toast {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    background-color: #222222;
    min-height: 2.5rem;
    max-width: 4.5rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    z-index: 999998;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    animation: toast-slide-up 0.3s;
    will-change: transform;
}